<!DOCTYPE html>

<!-- this is base page template, inside we load other section -->
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="base::layout(~{::section})">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page </title>
</head>
<body>
    <section>
       <div id="login">
       
        <div class="container">
            <div id="login-row" class="row justify-content-center align-items-center">
                <div id="login-column" class="col-md-6">
                    <div id="login-box" class="col-md-12">
                        <h3 class="text-center m-3">Set New Password</h3>
                        
                        <form th:action="@{/change_password}" method="post">
                        	<div class="from-group text-center " >
                        		<input type="text" required placeholder="Enter New Password" name="newpassword" class="form-control" >
                        		<button class="btn btn-success mt-3"  >Change Password</button>
                        	</div>
                        	
                        </form>
                       
                    </div>
                </div>
            </div>
        </div>
    </div>>
        
    </section>
</body>
</html>